/tomcat-web7-cdi/target/
/tomcat-web7-jaxrs/target/
/tomcat-web7-cdi-and-jaxrs/target/
/mavenproject1/target/
/tomcat-web7-jaxrs2/target/
/path-resource/target/
/spring-jdbc/target/
/customer-api/target/
/customer-api-data/target/
/mavenproject1/jms-sample/target/
/tomcat-web-jaxrs3/target/
/tomcat-web7-jaxrs3/target/
/timcat-web7-spring-and-jaxrs/target/
/data-cassandra-client/target/
/tomcat-web7-spring-and-jaxrs/target/
/tomcat-web7-spring-and-jaxrs-and-validation/target/
/mavenproject-validation/target/
/tomcat-web7-rs-and-cdi-application/target/
/edi-service-integration-ckecker/target/
/edi-service-integration-ckecker/nbproject/
/edi-service-integration-checker-highload/target/
/data-service-integration-checker/target/
/tomcat-web7-jaxrs-and-cdi-application/target
/tomcat-web7-jaxrs-and-cdi-application/nb-configuration.xml
/tomcat-web7-jaxrs-and-cdi-application-v27/target
/tomcat-web7-jaxrs-and-cdi-application-v27/nb-configuration.xml
